[Unit]
Description=switches the wallpaper

[Service]
Type=oneshot
ExecStart=/home/tronje/prj/wallpaper-switcher/main.py

[Install]
WantedBy=default.target
