Xft.dpi: 80
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! ------------------------------------------------------------------------------
! ROFI Settings
! ------------------------------------------------------------------------------
rofi.combi-modi: window,run,ssh
rofi.modi: combi
rofi.terminal: termite
rofi.run-command: {cmd}
rofi.ssh-client: ssh
rofi.ssh-command: {terminal} -e '{ssh-client} {host}'
rofi.run-shell-command: {terminal} -e '{cmd}'
rofi.case-sensitive: false
rofi.hide-scrollbar: true
rofi.font: Fira Mono 14

! ROFI Colors
rofi.color-enabled: true

! ---------------  background     border   separator
rofi.color-window: #333330, #002b36, #000000

! ---------------  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #333330, #f2f1f0, #333330, #fcfbe3, #333330
rofi.color-active: #333330, #f2f1f0, #333330, #268bd2, #fdf6e3
rofi.color-urgent: #333330, #f2f1f0, #333330, #dc322f, #fdf6e3
